;; Copyright © 2021 Atomist, Inc.
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.

{:paths ["src"]
 :jvm-opts ["-Xss64m"]
 :deps
 {com.atomist/api-cljs {:mvn/version "0.5.243" 
                        #_#_:local/root "/Users/slim/atomisthq/api-cljs"}}
 :aliases
 {:build
  {:extra-deps
   {org.clojure/clojure {:mvn/version "1.11.1"}
    org.clojure/clojurescript {:mvn/version "1.11.60"}
    #_#_com.google.javascript/closure-compiler-unshaded {:mvn/version "v20210505"}
    thheller/shadow-cljs {:mvn/version "2.20.6"}}
   :extra-paths ["dev"]}
  :shadow-cljs 
  {:extra-deps 
   {cider/piggieback {:mvn/version "0.4.1"} 
    cider/cider-nrepl {:mvn/version "0.26.0"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli" "watch" "dev"]}
  :test 
  {:extra-paths ["test"]}}}
